In [5]:
!pip install googlemaps

Collecting googlemaps
  Using cached googlemaps-4.9.0.tar.gz (32 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests<3.0,>=2.20.0 in /Users/kwonsoonhyong/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from googlemaps) (2.28.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/kwonsoonhyong/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kwonsoonhyong/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/kwonsoonhyong/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/kwonsoonhyong/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.1)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.9.0-py3-none-any.whl size=40431 sha256=9da6fe29836979f6808a36c664070d150f8da823f7594c03aef4654b86f449d4
  Stored in directory: /Users/kwonsoonhyong/Library/Caches/pip/wheels/d4/82/ed/600f40f64a9692a4f7a2ee7a8d7b8d37d77a43ddc7374a6a85
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.9.0

#### 요청주소
https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY

#### API키
AIzaSyC5BM4rYTLafiyYCjl_IlaT7we__p9R7fw

In [3]:
my_key = 'AIzaSyC5BM4rYTLafiyYCjl_IlaT7we__p9R7fw'

In [6]:
import googlemaps

In [7]:
# 구글 맵스 객체 생성하기
maps = googlemaps.Client(key=my_key)
lat = []
lng = []

In [8]:
maps.geocode('서울시청')[0].get('geometry')['location']['lat']
maps.geocode('서울시청')[0].get('geometry')['location']['lng']

126.9779692

In [8]:
# 장소 또는 주소 리스트
places = ['서울시청','국립국악원','해운대해수욕장']

In [9]:
for place in places:
    lat.append(maps.geocode(place)[0].get('geometry')['location']['lat'])
    lng.append(maps.geocode(place)[0].get('geometry')['location']['lng'])

print(lat, lng)

[37.566535, 37.4777592, 35.1586975] [126.9779692, 127.0083043, 129.1603842]

In [3]:
import pandas as pd

In [10]:
df = pd.DataFrame({
    '위도':lat,
    '경도':lng
},index = places)
df

                위도          경도
서울시청     37.566535  126.977969
국립국악원    37.477759  127.008304
해운대해수욕장  35.158698  129.160384

---
### 데이터 저장하기

In [1]:
data = {'name' : [ 'Jerry', 'Riah', 'Paul'],
        'algol' : [ "A", "A+", "B"],
        'basic' : [ "C", "B", "B+"],
        'c++' : [ "B+", "C", "C+"],
        }

data

{'name': ['Jerry', 'Riah', 'Paul'],
 'algol': ['A', 'A+', 'B'],
 'basic': ['C', 'B', 'B+'],
 'c++': ['B+', 'C', 'C+']}

In [4]:
df=pd.DataFrame(data)
df.set_index('name',inplace=True)
df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [8]:
df.to_csv('../Data/df_sample.csv',header=True)

In [15]:
df.to_json('../Data/df_sample.json')

In [16]:
df.to_excel('../Data/df_Sample.xlsx')

In [17]:
df1 = df.copy()

In [18]:
data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}
data2

{'c0': [1, 2, 3],
 'c1': [4, 5, 6],
 'c2': [7, 8, 9],
 'c3': [10, 11, 12],
 'c4': [13, 14, 15]}

In [21]:
df2 = pd.DataFrame(data2)
df2.set_index('c0',inplace=True)
df2

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [22]:
# df1을 sheet1로 df2를 sheet2로 저장
writer = pd.ExcelWriter('../Data/df_excelwriter.xlsx')

df1.to_excel(writer, sheet_name='sheet1')
df2.to_excel(writer, sheet_name='sheet2')

writer.save()

/var/folders/vf/8xq5853s7zdffbbxdf_fk_xc0000gn/T/ipykernel_39121/253400702.py:7: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()