In [8]:
# 거듭제곱 : ** , pow
var_01 = 3
print('거듭제곱 : ',var_01**2)
print('거듭제곱 : ',pow(var_01,2))

8
거듭제곱 :  9
거듭제곱 :  9

### 파이썬 모듈을 이용한 수학계산

In [10]:
import math

In [13]:
# math를 통한 거듭제곱
math.pow(2,3)

8.0

In [14]:
# 제곱근
math.sqrt(3)

1.7320508075688772

In [15]:
# sin 45
math.sin(45)

0.8509035245341184

In [16]:
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

---
### 난수 발생 
- 데이터가 없을 때 사용하는 것이 난수이다.
- 난수 발생 시켜서 하는 것이 전부 다 시뮬레이터이다.

In [17]:
import random

In [19]:
random.randint(1,100)

61

In [25]:
# 로또 번호 생성기
lotto_list = range(1,46)
random.sample(lotto_list,6)

[12, 35, 30, 18, 6, 7]

In [42]:
# 반올림 : 짝수 일시에 .5는 내림 홀수 일시에 .5는 올림
print(round(2.5))
print(round(3.5))

print(round(123.45,1))
print(round(123.456,2))

2
4
123.5
123.46

In [46]:
# 올림
math.ceil(1.1)

2

In [45]:
# 내림
math.floor(1.9)

1

In [51]:
# 지금 있는 데이터 확인하기
dir()

['In',
 'Out',
 '_',
 '_1',
 '_11',
 '_13',
 '_14',
 '_15',
 '_16',
 '_18',
 '_19',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_50',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'builtins',
 'debugpy',
 'exit',
 'file',
 'get_ipython',
 'i',
 'ipykernel',
 'lotto_list',
 'math',
 'numpy',
 'open',
 'os',
 'quit',
 'random',
 'sys']

In [48]:
# data 제거하기
del var_01

In [49]:
# 제거했으니 접근 안됨
var_01

NameError: name 'var_01' is not defined

---
### 관계 연산자

In [1]:
num1 = 100
num2 = 20

In [2]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 is num2)

False
True
True
False
True
False
False

### 논리연산자

In [60]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [63]:
# ! 대신에 not을 사용 
# and or not 으로 사용한다고 생각하면 됨
not(num1 >= 50)

False

In [65]:
# ! 뒤에 os 명령어 사용하기 위해서 !를 not으로 사용 안함
!ls

2672.24s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

01.Preview.ipynb             02.변수와 자료형.ipynb

---
### 문자열 자료형

In [66]:
var_01 = 'Hello World!'
var_01

'Hello World!'

In [67]:
var_01 = "Hello World2!"
var_01

'Hello World2!'

In [69]:
# 여러줄의 문자열 출력
var_01 = """
    Hello World!
    Nice to meet you!
"""
print(var_01)

    Hello World!
    Nice to meet you!

In [70]:
# 쌍따옴표와 홑따옴표의 사용
var_01 = "My father's wife is my mother."
var_02 = 'He says "I love you"'

print(var_01)
print(var_02)

My father's wife is my mother.
He says "I love you"

In [78]:
# 문자열 연산(덧셈)
# + 말고 , 사용시 sep로 각 문자열을 sep로 분리해서 합친다.
var_01 = "Python"
var_02 = "is fun"
print(var_01 + var_02)
print(var_01,var_02,sep=" : ")

Pythonis fun
Python : is fun

In [81]:
# 문자열 연산(곱셈)
print(var_01*3)

PythonPythonPython

In [83]:
# 예제
print('=======================','Python','=======================',sep='\n')

=======================
Python
=======================

In [98]:
# 문자열 indexing과 slicing 
# 중요하다. dataframe을 slicing 해서 가져와야 되기 때문에 
str = "sadjklfasbdlfkwdsfas"
print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[5:-2])

s
sad
s
lfasbdlfkwdsfas
sadjk
lfasbdlfkwdsf

In [105]:
str = "20221229Snow"
print(str[:4],str[4:8],str[8:])

2022 1229 Snow

In [113]:
str = "abbde"
str = str[:2] + 'c' + str[3:]
print(str)

abcde

---
### 문자열 formatting
- %d , %s ,%f

In [118]:
# 정수형 formatting
print("i have %d apples"%2)

numer = 2
print("i have %d apples"%numer)

i have 2 apples
i have 2 apples

In [120]:
# 문자열 formatting
print("I have %s apples"%"two")

str = "two"
print("I have %s apples"%str)

I have two apples
I have two apples

In [122]:
# tuple -> () 안에 들어가는 것을 tuple이라고 한다.
# tuple은 변경될 수 없는 것 , list는 변경될 수 있는 것
number = 2
fruit = "apples"
print("I have %d %s."%(number, fruit))

I have 2 apples.

In [124]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [130]:
# 실수형 formatting
print("I have %0.4f apples"%3.14159)
print("I have %10.4f apples"%3.14159)

I have 3.1416     apples
I have     3.1416 apples

---
### 문자열 관련함수

In [6]:
str = "I have a dream."
# 해당 되는 문자열이 몇개 있는지
print(str.count('a'))
# 문자열의 길이가 몇인지
print(len(str))
# 첫번째 e가 몇번째에 있는지 찾기
# -1은 해당됨이 없음을 얘기한다.
print(str.find('ve'))
print(str.find('x'))

3
15
4
-1

In [7]:
str = "..,"
str.join('abcdefg')

'a..,b..,c..,d..,e..,f..,g'

In [9]:
str = 'hi'
print(str.upper())
print(str.lower())

HI
hi

'a b c d'

In [165]:
str = '              hi         '
# 왼쪽 공백 지우기
print(str.lstrip())
# 오른쪽 공백 지우기
print(str.rstrip())
# 양쪽 공백 지우기
print(str.lstrip().rstrip())
print(str.strip())

hi
              hi
hi
hi

In [10]:
# 문자열 바꾸기
str = "Life is too short to be happy. happy"
str.replace('happy','unhappy')

'Life is too short to be unhappy. unhappy'

In [179]:
str = "Life is too short to be happy."
# 소괄호 안에 아무것도 안 넣으면 공백기준으로 자른다.
list01 = str.split()
print(list01)
print(type(list01))
print(list01[0])

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']
<class 'list'>
Life

In [184]:
str02 = 'a:b:c:d'
list02 = str02.split(':')
print(list02)
"".join(list02)

['a', 'b', 'c', 'd']

'abcd'

---
### 고급 문자열 Formatting

In [187]:
"I have {0} apples.".format(3)

'I have 5 apples.'

In [189]:
"I have {0} apples.".format('three')

'I have three apples.'

In [190]:
"I have {0} {1} {2} apples.".format(3,'three','세개')

'I have 3 three 세개 apples.'

In [199]:
number = 10
day = 'three'
# 둘중에 편한 방식 찾아서 쓰면 된다. {} 쓰는 게 좀 더 뒤에 나온 방식 
print('I have {1} apples , I will go aboard for {0} days'.format(day,number))
print('I have %d apples , I will go aboard for %s days'%(number,day))

I have 10 apples , I will go aboard for three days
I have 10 apples , I will go aboard for three days

In [208]:
# 왼쪽 정렬 과 오른쪽 정렬 과 가운데 정렬 하는 법
print("{0:<10}".format('hi'))
print("{0:>10}".format('hi'))
print("{0:^10}".format('hi'))

hi
        hi
    hi

In [212]:
# 정렬 시에 빈 공간을 특정 문자열로 채우는 방법
print("{0:=<10}".format('hi'))
print("{0:*>10}".format('hi'))
print("{0:!^10}".format('hi'))

hi========
********hi
!!!!hi!!!!

In [223]:
# 실수 다루는 방법
y = 3.141592
print("{0:0.2f}".format(y))
print("{0:.<10.2f}".format(y))

3.14
3.14......

---
### Python 3.6 이상에서 나온 문법
- 3.6나올 때, swift와 dart가 나왔다.
- String interpolation과 같은 의미이다.

In [4]:
# f
# f 하고 다음 문자열을 띄어쓰기 하면 안된다.
name = '홍길동'
age = 30
print(f'나의 이름은 {name:.>10} 이고 나이는 {age} 이다.')

나의 이름은 .......홍길동 이고 나이는 30 이다.

In [226]:
f'나는 내년이면 {age +1}살 입니다.'

'나는 내년이면 31살 입니다.'

---
### 날짜형 변환

In [12]:
from datetime import datetime, timedelta

In [13]:
time1 = datetime(1920,11,10,21,0,0,0)
print(time1)
print(type(time1))

1920-11-10 21:00:00
<class 'datetime.datetime'>

In [15]:
time2 = datetime.now()
print(time2)

2023-01-16 22:11:10.447743

In [16]:
# 날짜 계산
print(time2 - time1)

37322 days, 1:11:10.447743

In [233]:
type(time2)

datetime.datetime

In [238]:
print((time2-time1).days,'일')

37321 일
61138 초

In [242]:
# timedelta로 몇일 뒤에 날짜를 알 수 있다. 
print(time2 + timedelta(days = 5))
print(time2 + timedelta(days = -3))
print(time2 + timedelta(days = 1,hours = -2))

2023-01-21 13:58:58.304184
2023-01-13 13:58:58.304184
2023-01-17 11:58:58.304184
2023-01-20 13:58:58.304184