In [1]:
import pandas as pd
import json

In [2]:
df =pd.read_csv('./Data/words.csv')

In [3]:
df['wrong one']=df['뜻'].shift(1)
df['wrong two']=df['뜻'].shift(2)
df.iloc[0:1,4:] = [[df['뜻'][2999],df['뜻'][2998]]]
df.iloc[1:2,4:] = [[df['뜻'][0],df['뜻'][2999]]]
df = df.iloc[0:100,:]

In [4]:
df = df.sort_values(by='단계',ascending=False)

In [5]:
df

    번호          단어           뜻  단계 wrong one wrong two
0    1           a         하나의  초등       동물원         대
36  37         act      vi행동하다  초등      가로질러        획득
82  83         air          공기  초등       겨누다     도와 주다
79  80       ahead         전방에  초등        농업      동의하다
77  78       agree        동의하다  초등       이전에      침략적인
..  ..         ...         ...  ..       ...       ...
26  27  accumulate        축적하다  전문   설명하다 계산      일치하다
4    5       abort        유산하다  전문        배로    할 수 있는
32  33    acquaint         알리다  전문      인정하다       산 신
56  57     adverse        거꾸로의  전문   모험 모험하다    유리한 입장
64  65   affiliate  회원으로 가입시키다  전문        애정    영향을 주다

[100 rows x 6 columns]

In [6]:
indexs = df.index
words = df['단어']
means = df['뜻']
wrong1 = df['wrong one']
wrong2 = df['wrong two']
steps = df['단계']

In [7]:
words[0]

'a'

In [8]:

wordList = []
for i in range(100):
    wordMap = {}
    wordMap['word'] = words[i]
    wordMap['mean'] = means[i]
    wordMap['wrong1'] = wrong1[i]
    wordMap['wrong2'] = wrong2[i]
    wordMap['step'] = steps[i]

    wordList.append(wordMap)

In [9]:
len(wordList)

100

In [10]:
with open('./Data/words.json','w') as f:
    json.dump(wordList,f)

In [11]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

cred = credentials.Certificate("./Data/serviceAccountKey.json")
firebase_admin.initialize_app(cred)

db = firestore.client()

In [12]:
with open("./Data/words.json", "r") as st_json:

    st_python = json.load(st_json)

In [13]:
datas = st_python

In [14]:
i = 1
for data in datas:
    document = db.collection('words').document('%04d'%i)
    document.set(data)
    i += 1