# for문

In [1]:
var = range(1,11)
list(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# 0 ~ 10 까지의 짝수
print(list(range(0,11,2)))

# 10 ~ 1 까지의 짝수
list(range(10,0,-2))

[0, 2, 4, 6, 8, 10]

[10, 8, 6, 4, 2]

In [11]:
# 숫자 하나만 있을 경우
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
import math

for i in range(1,11):
    # print(f'{i:>2} : {round(math.sqrt(i),8):0<10}')
    #print('{0:>2} : {1:0.8f}'.format(i,math.sqrt(i)))
    print('%2d : %0.8f'%(i,math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [35]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{(i*j):>2}',end= " ")
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [36]:
# for 문에 list 사용하기
lists = ['one','two','three']

for list in lists:
    print(list)

one
two
three

In [40]:
# for 문에 tuple 사용하기
vars = [(1,2),(3,4),(5,6)]

for first, last in vars:
    print(first ,':',last)

1 : 2
3 : 4
5 : 6

In [50]:
scores = [90,25,67,45,80]
student = 1

for score in scores:
    print(f'{student}의 학생은 점수가 {score}','이므로 ' if student % 2 == 1  else '이어서 ','합격' if score >= 60 else '불합격',' 입니다.',sep="")
    student += 1

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [53]:
scores = [90,25,67,45,80]
student = 1

for score in scores:
    print(f'{student}의 학생은 합격 입니다.') if score >= 60 else ""
    student += 1

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [6]:
import numpy as np
scores = [90,25,67,45,80]
student = 1

print('학급의 평균 점수는 {0:0.2f} 입니다. \n'.format(np.mean(scores)))

for score in scores:
    print(f'{student}의 학생은 점수가 {score}이므로 합격입니다.') if score >= np.mean(scores) else print(f'{student}의 학생은 점수가 {score}이므로 불합격입니다.')
    student += 1

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이므로 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이므로 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [8]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기
# 특성공학을 할 때 예측률을 높이기 위해서 feature column이 몇 개 없을 때, 그 컬럼들을 제곱하거나 루트를 씌우거나 등등 해서 올리는 것을 말한다. 
var01 = [1,2,3,4]
var02 = [i*5 for i in var01]
var02

[5, 10, 15, 20]

In [32]:
scores = [90,25,67,45,80]
passScores = [score for score in scores if score>=60]

passScores

[90, 67, 80]

---
# 문장과 단어 추출

In [27]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [28]:
sents = []
words = []

In [29]:
# 문장 -> 문단
for sen in string.split("\n"):
    sents.append(sen.strip())
    # 문장 -> 단어
    for word in sen.split():
        words.append(word.strip())

print("문장 : ", sents)
print("문장 수 : ", len(sents))
print("단어 : ", words)
print("단어 수 : ", len(words))

문장 :  ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
문장 수 :  3
단어 :  ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']
단어 수 :  9

---
### Python의 Listed For문

In [31]:
var01 = [1,2,3,4]

var02 = [i*5 for i in var01 if i % 2 == 0]

[5, 10, 15, 20]

In [34]:
# 구구단 결과만 리스트로 만들기
print([i * j for i in range(2,10) for j in range(1,10)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [37]:
import numpy as np
scores = [90,25,67,45,80]
print('합격한 학생들의 평균 점수는 {0:0.2f} 입니다.'.format(np.mean([score for score in scores if score>=60])))

합격한 학생들의 평균 점수는 79.00 입니다.